{% if type == 'block' %}
  {% assign custom_html = block.settings.custom_html %}
  {% assign wide_display = block.settings.wide_display %}
  
{% else %}
  {% assign custom_html = section.settings.custom_html %}
  {% assign wide_display = section.settings.wide_display %}
{% endif %}

<div class="homepage_content clearfix">
  {% if wide_display == false %}
<div class="container">
  <div class="sixteen columns">
{% endif %}
      <div class="section clearfix">
        {% if custom_html != blank %}
         {{ custom_html }}
        {% else %}
          <p class="center">
            {{ 'homepage.onboarding.no_content' | t }}
          </p>
        {% endif %}
      </div>
  {% if wide_display == false %}
  </div>
</div>
{% endif %}
</div>