<a name="pagecontent" id="pagecontent"></a>

<div class="columns page clearfix">
<!-- {% section 'review_section_page' %}-->
    {% section 'review_slider_review' %}
</div>
</div>
{% section 'video' %}
<!--   <div class="video_r">
    <h2 class="main-title" style="text-align:center;">How it works</h2>
<video controls autoplay muted>
  <source src="https://cdn.shopify.com/videos/c/o/v/4010c3acfc814da981ab0d6af5304506.mp4" type="video/mp4">
  <source src="https://cdn.shopify.com/videos/c/o/v/4010c3acfc814da981ab0d6af5304506.mp4" type="video/ogg">
</video>
</div> -->
<div class="container main content">
<div class="sixteen columns page clearfix">
    {% section 'review_slider_review2' %}
 </div>   
</div>

<section class="section">
  <div class="container">
    <div class="one-whole column">
      <div class="rich-text__content center">
        <div class="rich-text__text featured_text">
          <a class="global-button review_btn" href="/pages/loox-reviews">
              More Reviews
          </a>
        </div>
      </div>
    </div>
  </div>
</section>




<style>

.rev-btm-content {bottom: 0; min-height:95px;}

.owl-carousel .owl-stage-outer {width: 100%;}
.review_btn{background: #f74e00; color: white !important; padding: 11px 16px 13px; border-radius: 5px;}
.review_btn:hover{background: #d35319; color:white;}

@media only screen and (max-width: 1150px){
.rev-btm-content h3 {font-size: 14px; line-height: 18px;}
  .four {width: calc(33% - 20px);}
  .rev-btm-content {bottom: 0; min-height:75px;}
}

  @media only screen and (max-width: 1000px){
.rev-btm-content h3 {font-size: 14px; line-height: 16px;}
}
@media only screen and (max-width: 480px){
  .r_max-hight {width: 44% !important; margin-left: 10px !important; margin-right: 10px !important;}
}
 @media only screen and (max-width: 460px){
  .r_max-hight {width: 100% !important; margin-left: 10px !important; margin-right: 10px !important;}
} 
</style>