<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page clearfix">
    {% section 'image-text' %}
    {% section 'featured-text' %}
    {% section 'Product_column' %}
    <style>
      @media only screen and (min-width: 799px){
      .prod-col-div:nth-child(2) {width: 38%;}
      }
    </style>
    
</div>
