{% comment %}
  The contents of the page.details.liquid template can be found in /sections/page-details-template.liquid
{% endcomment %}
<!-- {% section 'Product_column_sale' %} -->
<!-- <div class="video-m-div video_sale">
{% section 'video-sale' %}
</div> -->
{% section 'page-details-template-sale' %}
<!-- <div class="colms_sale_bg">
{% section 'text-columns-with-images' %}
</div> -->
<!-- {% section 'Product_column_sale' %} -->

<!-- <div class="faq_sale_bg ">
  <div class="container">
    <div class="one-whole column video_w_sale">
    {% section 'page-faq-template' %}
    </div>
   </div>
</div> -->
<!-- {% section 'Product_column_sale' %} -->
{% section 'review_sale' %}

<style>
 
  
.home-prod-list .product-details .title {font-size: 22px; line-height: 28px; margin: 0 0 5px; min-height: 60px;}
.add_to_cart.action_button span::before {content: url(https://cdn.shopify.com/s/files/1/0597/2335/0068/files/bag.png?v=1675317681); position: relative;  top: 3px;  padding-right: 10px;}
.add_to_cart.action_button { padding: 15px 10px;  border-radius: 8px;}
.home-prod-list .column {padding: 30px 30px 10px;}
.swatch_options {margin-bottom: 1em; text-align: center; display: flex; justify-content: center; flex-wrap: wrap;}
.current_price .money{font-size:20px; font-weight: bold;}

  
#shopify-section-footer{display:none !important;}
/*.menu li{display:none !important;} */
.promo_banner{display:none !important;}
.hide_sale{display:none !important;}
ul.header-cart-ul { width: auto !important;}
.menu-position--inline.logo-position--left div.logo { text-align: center !important;}
.mobile_nav {display:none !important;}


@media only screen and (min-width: 1040px){
 .first_p{width:28% !important;}
  .second_p{width:40% !important;}
}
 @media only screen and (max-width: 1033px){
 .first_p{width:100% !important;}
  .second_p{width:100% !important;}
} 
@media only screen and (max-width: 798px){
#header .top_bar a.mobile_logo {margin: 0; position: relative; width: auto;}
  #header .top_bar a.mobile_logo {}
  }
</style>

